*{ margin:0; }
body{ margin:0; }

#canvasBox{ 
    float:left;
    width:804px; 
    height:480px; 
    display:inline;}
    canvas{
        position:relative;
        top:0;
        left:0;
        border:2px solid blue;}


#menuBox{
    float:left;
    width: calc( 100% - 804px );
    height:484px;
    display:inline;
    background-color:green;}
    .buttons{
        float:left;
        width:100%;
        height:20%;
        border-bottom:2px solid blue;}
        .inicio{
            float:left;
            width: 25%;
            height:100%;
            border:none;
            background-color:blue;
            color:white;}
        .destino{
            float:left;
            width: 25%;
            height:100%;
            border:none;
    
            background-color:red;
            color:white;}
        .obstaculo{
            float:left;
            width: 25%;
            height:100%;
            border:none;
            background-color:grey;
            color:white;}
        .borrar{
            float:left;
            width: 25%;
            height:100%;
            border:none;
            background-color:white;
            color:grey;}

    .consoleBox{
        float:left;
        height:2rem;
        width:100%;
        border-bottom:2px solid blue;
        background-color:#dedede;}
        .console{
            position:relative;
            top:0.4rem;
            display:inline;
            width:100%;
            height:2rem;
            text-align:left;
            font-size:1.2rem;
            font-family:monospace;}


.option{

    /*position:relative;
    top: calc(90% - 2px);;*/
    float:left;
    width:100%;
    height:10%;
    
    border-top:2px solid blue;

}

.option > button{

    float:left;
    width:40%;
    height:80%;
    margin:10px 5%;
    border:none;
    
    background-color:white; 

}


















